<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>"${title}"</title>
		<style type="text/css">
			body{
			    font: 13px Verdana, Sans-Serif;
			    width: 800px;
			}
			#content-border {
			    border: 4px solid #EEE;
			    padding: 0px;
			    margin: 0px;
			    background: #FFF;
			}
			#content {
			    border: 18px solid #2DA7A6;
			    padding: 5px;
			    margin: 0px;
			    background: #FFFFF1;
			}
			#title {
			    border: 2px solid #F18C21;
			    padding: 5px;
			    margin: 5px;
			    background: #EEEEEF;
			}
			#logo{
			    display: inline;
			}
			#logo-text { 
			    margin: 0px; 
			    padding: 0px; 
			    width: 200px;
			}
			#logo-text a {
			    position: left; 
			    margin: 0; padding: 0 5px 0 0;
			    font: 32px  Georgia, Sans-Serif;  
			    letter-spacing: -1px;
			    color: #1980AF; 
			    text-decoration: none;
			    top: 30px; 
			    left: 30px;  
			}
			#logo-text a:hover { 
			    border: none; 
			}
			#title-text{
			    font-family: Verdana, serif;;
			    font-weight: bold;
			    font-size: 13px;
			    float: right;
			    padding-top: 10px;
			    width: 530px;
			    display: inline;
			}
			#desc {
			    border: 2px solid #F18C21;
			    padding: 10px;
			    margin: 5px;
			    background: #FFFFFF;
			}
		</style>
	</head>
    <body style="font: 13px Verdana, Sans-Serif; min-width: 800px; max-width: 800px;">
        <div id="content-border" style="border: 4px solid #EEE;padding: 0px;margin: 0px;background: #FFF;">
            <div id="content" style="border: 18px solid #2DA7A6;padding: 5px;margin: 0px;background: #FFFFF1;">
                <div id="title" style="border: 2px solid #F18C21;padding: 5px;margin: 5px;background: #EEEEEF;">
                    <span id="logo" style="display: inline;"> 
                        <span id="logo-text" style="margin: 0px; padding: 0px; width: 200px;">
                            <a href="${hostUrl}/g" title="" style="position: left; margin: 0; padding: 0 5px 0 0;font: 32px  Georgia, Sans-Serif;letter-spacing: -1px;color: #1980AF;text-decoration: none;top: 30px;left: 30px;" >YOUR_SITE</a>
                        </span>
                    </span>
                    <span id="title-text" style="font-family: Verdana, serif;font-weight: bold;font-size: 20px;float: right;padding-top: 10px;width: 530px;display: inline;" >
                        <B>"${title}"</B>
                    </span>
                </div>
                <div id="desc"  style="border: 2px solid #F18C21; padding: 10px; margin: 5px; background: #FFFFFF;">
 					<div>
						Dear ${userName},
					</div>
					<div>
						Your <a href="${hostUrl}">YOU_SITE.com</a> password reset request is created successfully.
					</div>
					<div>
						Please click <a href="${resetLink}">here to reset the password</a> .
					</div>
					<div>
						Your user id is "<B>${userId}</B>".
					</div>
					<div>
					Thanks,
					</div>
					<div>
					YOUR_TEAM
					</div>
                </div>
            </div>
        </div>
    </body>
</html>